[dotenv@17.2.3] injecting env (12) from .env -- tip: ­ƒùé´©Å backup and recover secrets: https://dotenvx.com/ops
CREATE ALGORITHM=UNDEFINED DEFINER=`lynxlocal`@`%` SQL SECURITY DEFINER VIEW `viewordemservicoitemstatussetor` AS select `ordemservicoitem`.`IdOrdemServicoItem` AS `idordemservicoitem`,`ordemservicoitem`.`IdOrdemServico` AS `idordemservico`,(case when ((((`ordemservicoitem`.`txtCorte` = 1) and (`ordemservicoitem`.`sttxtCorte` = 'C')) or (`ordemservicoitem`.`txtCorte` = 0) or (`ordemservicoitem`.`txtCorte` = '')) and (((`ordemservicoitem`.`txtDobra` = 1) and (`ordemservicoitem`.`sttxtDobra` = 'C')) or (`ordemservicoitem`.`txtDobra` = 0) or (`ordemservicoitem`.`txtDobra` = '')) and (((`ordemservicoitem`.`txtSolda` = 1) and (`ordemservicoitem`.`sttxtSolda` = 'C')) or (`ordemservicoitem`.`txtSolda` = 0) or (`ordemservicoitem`.`txtSolda` = '')) and (((`ordemservicoitem`.`txtPintura` = 1) and (`ordemservicoitem`.`sttxtPintura` = 'C')) or (`ordemservicoitem`.`txtPintura` = 0) or (`ordemservicoitem`.`txtPintura` = '')) and (((`ordemservicoitem`.`TxtMontagem` = 1) and (`ordemservicoitem`.`sttxtMontagem` = 'C')) or (`ordemservicoitem`.`TxtMontagem` = 0) or (`ordemservicoitem`.`TxtMontagem` = ''))) then 0 else 1 end) AS `resultado`,`ordemservicoitem`.`OrdemServicoItemFinalizado` AS `OrdemServicoItemFinalizado` from `ordemservicoitem` where ((`ordemservicoitem`.`D_E_L_E_T_E` = '') or isnull(`ordemservicoitem`.`D_E_L_E_T_E`))
